/* Add fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slight upward motion */
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Apply fade-in animation to the container */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  color: white;
  background-color: black;
  animation: fadeIn 1s ease-in-out; /* Smooth fade-in animation */
}
  
  .about-text {
    flex: 1;
    max-width: 50%; /* Adjust based on your design */
  }
  
  .about-text h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Eurostile MN, sans-serif;
    margin-bottom: 1rem;
  }
  
  .about-text p {
    font-family: Euclid Circular A, sans-serif;
    font-weight: 300; /* Light weight for the paragraph */
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .about-text .paragraph-footer {
    font-size: 0.8rem;
    margin-top: 2rem;
    opacity: 0.7; /* Slightly dimmed text */
  }
  
  .paragraphs {
    max-width: 70%;
  }

  .about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-image img {
    max-width: 100%; /* Make sure the image scales */
    height: auto;
    object-fit: cover;
  }