

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    background-color: #000;
  }
  
  .logo {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family:'Eurostile MN', sans-serif;
  }
  
  .nav {
    display: flex;
    gap: 60px;
  }
  
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: color 0.3s;
    font-family: 'Euclid Circular A', sans-serif;
  }
  
  .nav-link:hover {
    color: #444444;
  }
  
  .nav-link.active {
    color: #444444;
  }
  

