
footer {
    background-color: #000; 
    color: #fff; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Euclid Circular A', sans-serif;
}

.footer-content {
    margin: 0;
    font-size: 14px; 
    color: #cecece; 
}